{% extends 'base.html' %}

{% block title %}
Клиенты
{% endblock %}

{% block content %}
<header>
    <h1>Клиенты</h1>
    <nav>
        <ul>
            <li><a class="btn" href="/">Главная</a></li>
            <li><a class="btn" href="/estates/">Недвижимость</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <form action="" method="post">
            <h2>Создать клиента</h2>
            <div>
                <input type="text" name="fio" id="fio" placeholder="ФИО">
            </div>
            <div>
                <input type="number" name="money" id="money" placeholder="Кол-во денег на счету">
            </div>
            <div>
                <input type="text" name="town" id="town" placeholder="Город">
            </div>
            <div>
                <select name="agency" id="agency">
                    {% for agency in agencies %}
                    <option value="{{ agency.id }}">{{ agency.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="submit" value="Сохранить" class="btn">
            </div>
        </form>
    </section>
    <section class="clients">
        {% for client in clients %}
            <article class="client-card">
                <h3 class="client-name">{{ client.fio }}</h3>
                <p class="client-money">Счет: {{ client.money }}</p>
                <p class="client-town">Город: {{ client.town }}</p>
                <p class="client-agency">Агентство: {{ client.name }}</p>
                <form action="/clients/{{ client.id }}/delete" method="post">
                    <input type="submit" value="Удалить" class="btn-danger">
                </form>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
