{% extends 'base.html' %}

{% block title %}
Недвижимость
{% endblock %}

{% block content %}
<header>
    <h1>Недвижимость</h1>
    <nav>
        <ul>
            <li><a class="btn" href="/">Главная</a></li>
            <li><a class="btn" href="/clients/">Клиенты</a></li>
        </ul>
    </nav>
</header>
<main>
<section>
        <form action="/estatetypes/" method="post">
            <h2>Создать тип недвижимости</h2>
            <div>
                <input type="text" name="name" id="typeName" placeholder="Название">
            </div>
            <div>
                <input type="submit" value="Сохранить" class="btn">
            </div>
        </form>
        <form action="" method="post">
            <h2>Создать запись о недвижимости</h2>
            <div>
                <input type="text" name="name" id="estateName" placeholder="Название">
            </div>
            <div>
                <input type="text" name="address" id="address" placeholder="Адрес">
            </div>
            <div>
                <input type="number" name="square" id="square" min="1" placeholder="Площадь">
            </div>
            <div>
                <input type="number" name="rooms_cnt" id="rooms_cnt" min="1" placeholder="Количество помещений">
            </div>
            <div>
                <select name="type" id="type">
                    {% for type in types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <select name="agency" id="agency">
                    {% for agency in agencies %}
                    <option value="{{ agency.id }}">{{ agency.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="submit" value="Сохранить" class="btn">
            </div>
        </form>
    </section>
    <section class="clients">
        {% for estate in estates %}
            <article class="client-card">
                <h3 class="client-name">{{ estate.name }}</h3>
                <p class="client-money">Адрес: {{ estate.address }}</p>
                <p class="client-town">Тип недвижимости: {{ estate.type }}</p>
                <p class="client-town">Площадь: {{ estate.square }}</p>
                <p class="client-town">Кол-во помещений: {{ estate.rooms_cnt }}</p>
                <p class="client-agency">Агентство: {{ estate.name }}</p>
                <p class="client-agency">Дата публикации: {{ estate.posted_at }}</p>
                <form action="/estates/{{ estate.id }}/delete" method="post">
                    <input type="submit" value="Удалить" class="btn-danger">
                </form>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
